body {
  margin: 20px;
  border-style: solid;
  /* padding: 2px; */
}
a {
  color: blue;
}

h1 {
  text-align: center;
}
.but {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
}
.but:hover {
  background-color: firebrick;
}
li {
  list-style: square;
}
.position {
  background-color: red;
  width: 50px;
  text-align: center;
  color: white;
  position: absolute;
  top: -5px;
  left: 3px;
}
h1 {
  background-color: white;
  margin-top: 0px;
}
.square {
  margin-top: 5px;
  height: 10px;
  width: 10px;
  padding: 2px;
  display: inline-block;
}
.box li {
  display: inline-block;
}

.box {
  position: relative;
  left: -40px;
}

.box1 {
  height: 15px;
  width: 15px;
  background-color: brown;
}
.box2 {
  height: 15px;
  width: 15px;
  background-color: blue;
}
.box3 {
  height: 15px;
  width: 15px;
  background-color: black;
}
.box4 {
  height: 15px;
  width: 15px;
  background-color: orange;
}
.box5 {
  height: 15px;
  width: 15px;
  background-color: green;
}
.box6 {
  height: 15px;
  width: 15px;
  background-color: yellowgreen;
}
